

// ====================================================
// The ALBUMS & PHOTOS page
// ====================================================
#albumsList,
#albumContent {
	display: grid;
	grid-gap:$space_m;
	grid-template-columns: repeat(auto-fill, minmax($photoWidth, 1fr));
	@media screen and (max-width:500px){
		justify-items: center;
	}
	@media screen and (min-width:500px){
		justify-items: start;
	}
}

.album,
.photo {
	display: inline-block;
	border:4px solid #fff;
	padding:4px;
	width:$photoWidth;
	height:$photoHeight;
	cursor: pointer;
	position: relative;
}

.photoName {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	width:100%;
	padding:$space_xs;
	bottom:0;
	color:#fff;
	background: hsla(0,0,0,0.5);
}

// ====================================================
// #mask that appears when photos are displayed
// ====================================================

#mask {
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	background: hsla(0,0,0,0.0);
	pointer-events: none;
	transition: background-color $transition;
	z-index:400;
}

#mask.active {
	background: hsla(0,0,0,0.6);
	pointer-events: auto;
}

// ====================================================
// The #mask contains the photos and actions button
// ====================================================

#displayInfoPanel {
	background: $maskInfos;
	padding:1em;
	color:#fff;
	position: absolute;
	width:100%;
	height:100%;
}

#displayInfoPanelContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#displayInfoPanel .line {
	display: grid;
	grid-template-columns: 80px auto;
	margin-bottom: $space_s;
}

#blocPhotoInfos {
	width:250px;
	margin:0 auto;
}

#photoDisplay {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	opacity:0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out 0.1s; 
}

#photoDisplay img {
	display: block;
}

.picture {
	width:100%; 
	height:100%;
	position: relative;
}

.pictureMenu {
	color:#fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	bottom:-3.5em;
	width:100%;
}

.pictureMenu i {
	background: $iconTile;
	font-size:1.75em;
	width:1.75em;
	line-height:1.75em;
	text-align: center;
	transition: background-color $transition;
}

.pictureMenu i:hover,
.pictureMenu i.active {
	background: $iconTileHover;
}

.icoRight {
	justify-self:left;
}

.icoLeft {
	justify-self:right;
}

#mask.active #photoDisplay {
	opacity:1;
	pointer-events: auto;
}


// ====================================================
// Panel to display error messages.
// ====================================================
#errorMessage {
	position: absolute;
	top:$space_xl;
	left:50%; 
	width:90%;
	transform: translateX(-50%);
	background: $errorBoxBg;
	color: $errorBoxTxt;
	padding:$space_m;
	display: grid; 
	grid-template-columns: 3em auto;
}

#errorMessage i {
	font-size:1.5rem;
	justify-self:center;
	align-self: start;
}
#errorMessage p {
	margin:0;
	padding:0;
}


// ====================================================
// Page "ABOUT"
// ====================================================
.mainText {
	margin: $space_l 0;
	line-height:1.5rem;
}

.button	{
	display: inline-block;
	background: $iconTile;
	transition: background-color $transition;
	cursor: pointer;
	line-height:1.75em;
	padding:0 $space_m;
	text-align: center;
}
.button:hover {
	background: $iconTileHover;
}