

// ====================================================
// The ALBUMS & PHOTOS page
// ====================================================
#albumsList,
#albumContent {
	display: grid;
	grid-gap:$space_m;
	grid-template-columns: repeat(auto-fill, minmax($photoWidth, 1fr));
	@media screen and (max-width:500px){
		justify-items: center;
	}
	@media screen and (min-width:500px){
		justify-items: start;
	}
}

.album,
.photo {
	display: inline-block;
	border:4px solid $c_white;
	padding:4px;
	width:$photoWidth;
	height:$photoHeight;
	cursor: pointer;
	position: relative;
}

.photoName {
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	width:100%;
	padding:$space_xs;
	bottom:0;
	color:$c_white;
	background: $maskNames;
}

#sortingPanel {
	padding:$space_m 0;
}

#sortingPanel span {
	display: inline-block;
	padding: $space_xs $space_s;
	cursor: pointer;
	font-weight:bold;
	color: $mediumDarkTransparence;
}

#sortingPanel span.active {
	color: $darkTransparence;
}

#sortingPanel span + span {
	border-left:1px solid $spanSeparators;
} 

// ====================================================
// #mask that appears when photos are displayed
// ====================================================

#mask {
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	background: hsla(0,0,0,0.0);
	pointer-events: none;
	transition: background-color $transition;
	z-index:400;
}

#mask.active {
	background: $maskPage;
	pointer-events: auto;
}

// ====================================================
// The #mask contains the photos and actions button
// ====================================================

#displayInfoPanel {
	background: $maskInfos;
	padding:1em;
	color:$c_white;
	position: absolute;
	width:100%;
	height:100%;
}

#displayInfoPanelContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#displayInfoPanel .line {
	display: grid;
	grid-template-columns: 80px auto;
	margin-bottom: $space_s;
}

#blocPhotoInfos {
	width:250px;
	margin:0 auto;
}

#photoDisplay {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	opacity:0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out 0.1s; 
}

#photoDisplay img {
	display: block;
}

.picture {
	width:100%; 
	height:100%;
	position: relative;
}

.pictureMenu {
	color:$c_white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	bottom:-3.5em;
	width:100%;
}

.pictureMenu i {
	background: $iconTile;
	font-size:1.75em;
	width:1.40em;
	line-height:1.75em;
	text-align: center;
	transition: background-color $transition;
}

.pictureMenu i:hover,
.pictureMenu i.active {
	background: $iconTileHover;
}

.icoRight {
	justify-self:left;
}

.icoLeft {
	justify-self:right;
}

#mask.active #photoDisplay {
	opacity:1;
	pointer-events: auto;
}


// ====================================================
// Panel to display error messages.
// ====================================================
#errorMessage {
	position: absolute;
	top:$space_xl;
	left:50%; 
	width:90%;
	transform: translateX(-50%);
	background: $errorBoxBg;
	color: $errorBoxTxt;
	padding:$space_m;
	display: grid; 
	grid-template-columns: 3em auto;
}

#errorMessage i {
	font-size:1.5rem;
	justify-self:center;
	align-self: start;
}
#errorMessage p {
	margin:0;
	padding:0;
}


// ====================================================
// Page "ABOUT"
// ====================================================
.mainText {
	margin: $space_l 0;
	line-height:1.5rem;
}

.button	{
	display: inline-block;
	background: $button_bg;
	transition: background-color $transition;
	cursor: pointer;
	line-height: $space_l;
	padding:$space_xs $space_l;
	text-align: center;
}
.button:hover {
	background: $button_bg_hover;
}


// ====================================================
// Indicator for the Picture for the album cover
// ====================================================
.albumCover {
	position: relative;
}

.albumCover::before {
	content:'';
	position: absolute;
	right:10px;
	top:-15px;
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 0 5px;
	border-color: transparent transparent transparent hsla(0,0,0,0.5);
}

.albumCover::after {
	content:'Album Cover';
	font-size:0.8rem;
	display: inline-block;
	background: $panelAlbumCover_bg;
	color: $panelAlbumCover_txt;
	box-shadow: $boxShadow;
	padding: $space_xs $space_s;
	position: absolute;
	top: -15px;
	right: 15px;
}
