header {
	position: fixed;
	height:$headerHeight;
	width:100%;
	z-index:100;
	transition: background $transition, color $transition;
}

header, footer, .modal {

	&.themeExtraLight {
		background: $themeExtraLight_bg;
		color: $themeExtraLight_text;
	}
	&.themeLight {
		background: $themeLight_bg;
		color: $themeLight_text;
	}
	&.themeDark {
		background: $themeDark_bg;
		color: $themeDark_text;
	}
	&.themeExtraDark {
		background: $themeExtraDark_bg;
		color: $themeExtraDark_text;
	}

}

#backButton,
#themeButton {
	line-height:$headerHeight;
	width:$headerHeight;
	text-align: center;
	font-size:1.5rem;
	cursor: pointer;
}

#backButton {
	position: absolute;
	left:0; top:0;
	height:100%;
}

#title {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size:1.5rem;
}



// ====================================================
// Compensation for the header height
// ====================================================
main {
	margin-top: $headerHeight;
}


// ====================================================
// Box for THEME choice
// ====================================================
#themeButton {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

#modalTheme i {
	display: inline-block;
	padding: 0 $space_s;
}

#modalTheme {
	position: absolute;
	top: 20px; 
	right: 20px;
	width: 200px;
	box-shadow: $boxShadow;
	font-size: 1rem;
	line-height: $minTouch;
	border-radius: 4px;
	border: 1px solid $modalBorder;
	text-align: left;
}

.modalTitle {
	border-bottom: 1px solid #000;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
}

