main {
	padding: 2em;
}

#albumList,
#albumContent {
	border:1px solid #000;
	display: grid;
	grid-gap:20px;
	grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

}

.album,
.photo {
	display: inline-block;
	border:1px solid #f00;
	padding:4px;
	width:100px;
	height: 100px;
}

.photoName {
	color:#fff;
	background: hsla(0,0,0,0.5);
}

.breadcrumb {
	padding: 1em 0;
	color:#666;
	font-size:0.8em;
}

#mask {
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	background: hsla(0,0,0,0.0);
	pointer-events: none;
	transition: background-color 0.3s ease-in-out;
}

#mask.active {
	background: hsla(0,0,0,0.6);
	pointer-events: auto;
}

#photoDisplay {
	height:80%; width: 80%;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	opacity:0;
	pointer-events: none;
	transition: opacity 0.3s ease-in-out 0.1s; 
}

#mask.active #photoDisplay {
	opacity:1;
	pointer-events: auto;
}